body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.page {
  border: 1px solid #000;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 1px 1px 10px 5px #000;
  background: #ffffff05;
  margin: 2em;
}

h1.page-title {
  font-size: 2.5rem;
  max-width: 30ch;
  text-align: center;
  margin: 0 auto 1em;
}

.list {
  list-style: none;
}

.list__item {
  font-size: 1.5rem;
  color: #fff;
  background: #13191d;
  margin-bottom: 1em;
  padding: 16px;
  border-radius: 25px;
}

.link {
  color: #cf9c58f5;
}

.link:visited {
  color: #958166;
}
